.units-container{
  padding: 0;
}
.unit-item-container{
  border: 2px solid #f1f1f1;
  border-left-color: #fff;
  border-top-color: #fff;

  padding-top: 20px;
  color: #212121;
  transition: .3s;
}
  .unit-item-container:hover{
    border-color: #ff6677;
  }

.unit-item{
  border: 0;
}
  .unit-item .card-block{
    padding: 17px 0;
  }
.unit-actions{
  background: #ff6677;
  position: absolute;
  width: 0;
  z-index: 5;
  right: 0;
  top: 10px;
  border-radius: 0 5px 5px 0;
  transition: .2s;
  overflow: hidden;
}
  .unit-actions .action{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #f9908e;
  }

.unit-owner{
  margin-top: -48px;
  z-index: 10;
  margin-bottom: 10px;
  margin-left: 10px;
}
  .owner-avatar{
    margin-top: -5px;
    border: 2px solid #f89d96;
  }
  .owner-name{
    text-shadow: 1px 1px #000;
    color: #fff;
    margin-left: 5px;
  }

.unit-title, .unit-address{
  margin-bottom: 0;
}

.unit-address small{
  color: #636c72;
  font-size:12px;
  font-weight: 100;
}

.unit-rating{
  color: #fe6979;
  font-size: 12px;
}
  .unit-rating i{
    margin-left: 3px;
  }
  .unit-rating i:first-child{
    margin-left: 0;
  }

.unit-details{
  border-top: 1px solid #f1f1f1;
  padding-top: 10px;
  font-weight: 100;
  font-size: 11px;
  color: #7b797a;
}
  .unit-details-item{
    padding: 10px 5px;
    border: 1px solid #f1f1f1;
    border-top: 0;
    border-left: 0;
  }
    .unit-details-item:nth-child(1n+3){
      border-bottom: 0;
    }
    .unit-details-item:nth-child(2n+2){
      border-right: 0;
    }
    .unit-details-item i{
      margin-right: 10px;
      font-size: 17px;
      color: #989797;
    }

.card-img-top{
  border-radius: 0;
}

.unit-price{
  right: 5px;
  position: absolute;
  text-align: center;
  top: 5px;
  color: #fff;
  font-size: 12px;
  background: #25c1ad;
  padding: 1px 6px;
}
