.dashboard-container{
  margin-top: 20px;
}
.dashboard-widget{
  background: #fff;
  border: 1px solid #DEDEDE;
  padding: 30px;
}
.middle-box{
  text-align: center;
}
  .middle-box .title{
    font-family: Roboto, sans-serif;
    color: #767676;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
  }
  .middle-box .big-number{
    font-family: Roboto, sans-serif;
    font-size: 40px;
    color: #1ab999;
  }

.dashboard-widget .center{
  text-align: center;
}
.dashboard-widget .title-md{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  color: #ada5a5;
  font-size: 15px;
  display: block;
}

.space-top{
  margin-top: 20px;
}
.space-top-row{
  margin-top: 30px;
}
.dashboard-widget.padding-tb{
  padding: 78px 0;
}
.dashboard-widget, .widget-container{
  height: 250px;
}


.dashboard-widget .number-md{
  font-size: 23px;
  font-family: Roboto, sans-serif;
  display: block;
  padding: 10px;
}
.number-md.red{
  color: #e6483c;
}
.number-md.yellow{
  color: #eebd00;
}
