.sidebar{
  height: 100%;
  background: #fff;
  border-right: 1px solid #d4d2d2;
  position: fixed;
  width: 16%;
}
.sidebar-menu{
  width: 100%;
}
.sidebar-menu .menu-list{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
  .sidebar-menu .menu-list > li > a{
    display: block !important;

    text-decoration: none !important;

    width: 100%;
  }
    .sidebar-menu .menu-list > li > a button{
      font-size: 14px !important;
      display: block !important;
      padding: 5px !important;
      color: #767676 !important;
      height: auto !important;
      text-align: left !important;
      width: 100% !important;
    }

    .sidebar-menu .menu-list > li > a > button svg{
      color: #767676 !important;
      fill: #767676 !important;
    }
    .sidebar-menu .menu-list > li > a.active > button svg{

      color: #f5547c !important;
      fill: #f5547c !important;

    }
    .sidebar-menu .menu-list > li > a.active button, .sidebar-menu .menu-list > li > a.active button:hover{
      background: #f1f1f1 !important;
      color: #f5547c !important;
      border-left: 5px solid #f5547c !important;
      border-radius: 0 !important;

    }
    .sidebar-menu .menu-list > li > a:hover{
      background: #f1f1f1;
      text-decoration: none;
    }
