.page-header{
  margin-bottom: 40px;
}
.pagetitle-icon{
  color: inherit!important;
  width: 35px!important;
  height: auto!important;
  float: left;
  margin-right: 10px;
}
.addBtn{
  margin-left: 10px !important;
  position: absolute;
  margin-top: -8px;

  box-shadow: rgba(0, 0, 0, 0) 0px 0 0, rgba(0, 0, 0, 0) 0px 0 0 !important;
}
  .addBtn button{
    width: 25px !important;
    height: 25px !important;
    background: #25c1ad !important;
  }
    .addBtn button svg{
      width: 20px !important;
      margin-top: -7px;
      margin-right: -1px;
    }
