.user-avatar{

}
.user-name{
  color: #33c3b3;
  text-transform: capitalize;
}
.userrole{
  background: #ededed;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  color: #FF5A5F;
  display: inline-block;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.userbio{
  display: block;
  font-size: 12px;
  color: #585858;
  padding: 10px 0;
}
.statics-box{
  float: right;
  border-color: #ededed;
  border-style: solid;
  border-width: 0;
  padding: 10px 50px;
  text-align: center;
}
  .statics-box:nth-child(1){
    border-left-width: 1px;
  }
  .statics-box:nth-child(3){
    border-left-width: 1px;
    border-top-width: 1px;
  }
  .statics-box:nth-child(4){
    border-top-width: 1px;
  }
  .statics-box .count{
    display: block;
    margin-bottom: 5px;
    color: #ccc;
  }
  .statics-box svg{
    color: #ccc !important;
    height: auto !important;
    width: 35px !important;
  }
  .statics-box:hover svg, .statics-box:hover .count{
    color: #fe6979 !important;

  }
  .edit-btn{
    float: right;
  }
  .editbtn-container{
    margin-bottom: 20px;
  }

.user-tabs{
  border-top: 1px solid #ededed;
  margin-top: 20px;
  padding-top: 20px;
}
.tab-content .table.profile td{
  text-align: left;
  text-transform: capitalize;
}

.tab-content .table.profile tr:first-child td{
  border-top: 0 !important;
}
.tab-content .table.profile td{
  font-size: 15px;
  padding: 7px 10px !important;
  height: auto !important;
}
.tab-content .table.profile td:first-child{
  width: 200px;
  font-weight: bold;
}
.count-icon{
  margin: 0 !important;
  padding: 0 !important;
}
.count-icon span{
  position: absolute !important;
  margin: -15px -15px 0 0;
  font-size: 11px !important;
  width: 20px !important;
  height: 20px !important;
  background: #33c3b3 !important;
}

.table.orders thead th{
  color: #fe6979;
}
.table.orders td{
  font-size: 13px;
  color: #585858;
  padding: 0;
}
.table.orders tr:hover td, .table.profile tr:hover td{
  background: #f1f1f1;
}
  .table.orders td a{
    display: block;
    padding: 10px;
    color: #353535;
  }

.edit-user-btn{
  margin-left: 10px;
  padding-top: 10px;
}
  .edit-user-btn svg{
    color: #ccc !important;
    width: 30px !important;
  }
  .edit-user-btn:hover svg{
    color: #d9534f !important;
    cursor: pointer;
  }
