.permission-item{
  display: inline-block !important;
  width: auto !important;
  white-space: nowrap;
  padding: 0 10px;
}
  .permission-item label{
    color: #ccc !important;
  }
  .permission-item svg{
    fill: #ccc !important;
  }
.permission-item.active label{
  color: #25c1ad !important;
}
.permission-item.active svg{
  fill: #25c1ad !important;
}


.add-role .form-field{
  padding: 10px 0;
}
